
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!--将服务端的方法变成可执行的js方法 生成代理-->
    @*<script src="/signalr/js"></script>*@
    <script src="~/Scripts/proxy.js"></script> 
    <title>Index</title>

    <script type="text/javascript">
        //代理模式下
        //小写开头
        var proxy = $.connection.myHub1;
         
        proxy.client.welcome = function (msg) {
            //这个方法被服务端调用
            //连接成功的时候执行
            console.log(msg);
        }

        //通过start连接到服务器
        $.connection.hub.start().done(function (data) {
            proxy.server.hello();

        }).fail(function (data) {

        });

    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
