
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script> 
    <title>Index</title>

    <script type="text/javascript">

        //var proxy = $.connection;

        //proxy.client.welcome = function (msg) {
        //    //这个方法被服务端调用
        //    //连接成功的时候执行
        //    console.log(msg);
        //}

        ////通过start连接到服务器
        //$.connection.hub.start().done(function (data) {
        //    proxy.server.hello();

        //}).fail(function (data) {

        //});

        var conn = $.hubConnection();

        conn.start().done(function (data) {
            console.log(data);
        }).fail(function (data) {
            console.log(data)
        });


    </script>
</head>
<body>
    <div>
    </div>
</body>
</html>
